[Unit]
Description=OLED Proc
DefaultDependencies=yes
After=network-online.target
Wants=network-online.target
IgnoreOnIsolate=true

[Service]
User=pi
Group=pi
ExecStart=/home/pi/Code/oled_proc/oled_proc.py
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target 
